
body {
  font-family: 'Helvetica', 'Verdana', sans-serif;
  margin: 0;
  padding: 0;
  background: #ececec;
}

/* Icons */

.icon {
  background-repeat: no-repeat;
  background-size: contain;
}

.icon.add {
  background-image: url("images/add.svg");
}


.icon.clear-day {
  background-image: url("images/clear-day.svg");
}

.icon.clear-night {
  background-image: url("images/clear-night.svg");
}

.icon.rain {
  background-image: url("images/rain.svg");
}

.icon.snow {
  background-image: url("images/snow.svg");
}

.icon.sleet {
  background-image: url("images/sleet.svg");
}

.icon.wind {
  background-image: url("images/wind.svg");
}

.icon.fog {
  background-image: url("images/fog.svg");
}

.icon.cloudy {
  background-image: url("images/cloudy.svg");
}

.icon.partly-cloudy-day {
  background-image: url("images/partly-cloudy-day.svg");
}

.icon.partly-cloudy-night {
  background-image: url("images/partly-cloudy-night.svg");
}

.icon.hail {
  background-image: url("images/hail.svg");
}

.icon.thunderstorm {
  background-image: url("images/thunderstorm.svg");
}

.icon.tornado {
  background-image: url("images/tornado.svg");
}





/* Style the header */
.header {
  background-color:#00c;
  color:white;
  font-size: 2em;
  height: 2em;
  padding: 0.2em;
  display:grid;
  justify-items:center;  
  align-items:center;  
}

/* Main Container */
.grid-container {
  display: grid;
  grid-template-columns:1fr;
  grid-gap: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Weather Card*/

.grid-container > div.weather-card {
  text-align: left;
  font-size: 1.3em;
  background-color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
  padding:1em;
}

.weather-card .remove-city {
  background-color: transparent;
  border: none;
  float: right;
  font-size: x-large;
}

.weather-card .location {
  font-size: 1.75em;
}


.weather-card .current {
  display: flex;
}

.weather-card .date,
.weather-card .description {
  font-size: 0.9em;
}


.weather-card .current .icon {
  height: 96px;
  width: 96px;
}

.weather-card .current .visual {
  display: flex;
  font-size: 3em;
}

.weather-card .future .oneday .icon {
  height: 32px;
  margin-left: auto;
  margin-right: auto;
  width: 32px;
}

.weather-card .current .visual .scale {
  font-size: 0.5em;
  vertical-align: super;
}

.weather-card .current .visual,
.weather-card .current .description {
  flex-grow: 1;
}

.weather-card .current .description .label {
  color: #666;
}

.weather-card .future {
  display: flex;
}

.weather-card .future .oneday {
  flex-grow: 1;
  text-align: center;
}



.weather-card .future .oneday .temp-high,
.weather-card .future .oneday .temp-low {
  display: inline-block;
}

.weather-card .future .oneday .temp-low {
  color: #666;
}


/*For widths 700px or greater, go 4 columns */
@media (min-width:700px) {
	.header {
	  grid-column:1/-1;	
	}

	.grid-container { 
	  grid-template-columns:repeat(2,1fr); 
	}
  
  .weather-card .date,
  .weather-card .description {
    font-size: 1.25em;
  }

  .weather-card .current .icon {
    height: 128px;
    width: 128px;
  }

  .weather-card .current .visual {
    font-size: 4em;
  }

  .weather-card .future .oneday .icon {
    height: 64px;
    width: 64px;
  }
  
  

} /* end media query */

/* Button */
.fab {
  background-color: #3f51b5;
  border-radius: 50%;
  bottom: 1rem;
  width: 56px;
  height: 56px;
  padding: 12px;
  position: fixed;
  right: 1rem; 
  z-index:1;
}

.fab .icon {
  display: inline-block;
  height: 100%;
  width: 100%;
}

/* changes background if app is running 
   standalone as an installed app*/
@media all and (display-mode: standalone) {
  body {
    background-color: yellow;
  }
}


















/*

* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: cyan;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}*/
